{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Counter</title>
</head>
<body>
    <h1 class="header">Enter words to count the number of words:</h1>
    <form action="{% url 'count' %}" method="post">
        {% csrf_token %}
        <textarea class="text" style="resize: None;" name="text" id="" cols="100" rows="30"></textarea><br>
        <button class="btn" type="submit" name="submit">Submit</button>
    </form>
</body>
</html>